[submodule "externals/grpc"]
	path = externals/grpc
	url = https://github.com/grpc/grpc.git
[submodule "tools/Qt3DPointcloudRenderer"]
	path = tools/Qt3DPointcloudRenderer
	url = https://github.com/MASKOR/Qt3DPointcloudRenderer.git
[submodule "libs/layertypes_collection/asset/tinyply"]
	path = libs/layertypes_collection/asset/tinyply
	url = https://github.com/bchretien/tinyply
[submodule "libs/layertypes_collection/laz/libLAS"]
	path = libs/layertypes_collection/las/libLAS
	url = https://github.com/libLAS/libLAS.git
[submodule "libs/layertypes_collection/las/LASzip"]
	path = libs/layertypes_collection/las/LASzip
	url = https://github.com/LASzip/LASzip
[submodule "libs/core/include/mapit/time/date"]
	path = libs/core/include/mapit/time/date
	url = https://github.com/HowardHinnant/date.git
[submodule "tools/Qt3DOpenVDBRenderer"]
	path = tools/Qt3DOpenVDBRenderer
	url = https://github.com/MASKOR/Qt3DOpenVDBRenderer
[submodule "tools/graphblocks"]
	path = tools/graphblocks
	url = https://github.com/dabulla/graphblocks.git
[submodule "tools/visualization_vr/qt3d-vr-example"]
	path = tools/visualization_vr/qt3d-vr-example
	url = https://github.com/dabulla/qt3d-vr-example
[submodule "libs/mapit-msgs"]
	path = libs/mapit-msgs
	url = https://github.com/MASKOR/mapit-msgs.git
[submodule "tools/diff/src/diff-match-patch-cpp-stl"]
	path = tools/diff/src/diff-match-patch-cpp-stl
	url = https://github.com/leutloff/diff-match-patch-cpp-stl.git
