*.pro.user
*.user*
*.autosave
*.backup
*.tmp
*.pyc
*.obj
*.orig
*build*
moc_*
CMakeLists.txt.user
*~
*.rej
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
libs/*
.directory

Release
Debug
GeneratedFiles

docs/doxygen/html
docs/doxygen/latex
