[submodule "libs/upns_interface"]
	path = libs/upns_interface
	url = gitolite@robotics.fh-aachen.de:upns_interface
[submodule "externals/leveldb"]
	path = externals/leveldb
	url = https://github.com/google/leveldb.git
[submodule "externals/protobuf"]
	path = externals/protobuf
	url = https://github.com/google/protobuf.git
[submodule "externals/grpc"]
	path = externals/grpc
	url = https://github.com/grpc/grpc.git
